
<!-- Making the Divs for displaying the graphs and all -->
<div class="container">
    <div class="row">
        <div class="col-md-6 graph-heading">
            <!-- Graph One Here -->
            <h1 class="display-6">RedBubble Results</h1>
            <canvas id="chart-one" width="50" height="50"></canvas>
        </div>
        <div class="col-md-6 graph-heading">
            <!-- Graph Two Here -->
            <h1 class="display-6">Google Trends Results</h1>
            <canvas id="chart-two" width="50" height="50"></canvas>
        </div>
    </div>
</div>