

<div class="container" id="signupform">
  <form class="form-signin">
      <div class="headData">
          <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
          <h1 class="display-6">Please sign in</h1>
      </div>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <div class="headData">
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          <div class="row" id="divider">
            <div class="col-md-5">
                <hr>
            </div>
            <div class="col-md-2">
                Or
            </div>
            <div class="col-md-5">
                <hr>
            </div>
          </div>
          <button class="btn btn-lg btn-block social-button" type="submit" id="facebook-button"><i class="fab fa-facebook fa-lg" id="facebook"></i> SignIn with Facebook</button>
          <button class="btn btn-lg btn-block social-button" type="submit" id="google-button"><i class="fa fa-google fa-lg" id="google"></i> SignIn with Google</button>
          <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>

      </div>
  </form>
</div>