
#navMenu {
    background-color: #152F4F;
    color: #ffffff;
}

#navMenu a {
    color: #ffffff;
}

#navButton {
    margin-left: 90%;
}

#navbarNav {
    float: right;
    margin-left: 70%;
}

/*
.navbar-light .navbar-toggler-icon {
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
}
*/

@media (min-width:992px) {    
    .vertical-nav {
        position: fixed;
        top: 56px;
        left: 0;
        width: 200px;
        height: 100%;
        background-color: #152F4F;
        overflow-y: auto;
        margin-top: 0;
        padding-top: 30px;
    }
    a {
        color:#ffffff;
    }

}