

<!-- Navigation Start -->
<nav class="navbar navbar-expand-lg navbar-light" id="navMenu">
    <div class="container-fluid">
      <div class="container">
        <a class="navbar-brand" href="#">RedCross</a>
        <button id="navButton" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a [routerLink]="['/auth/signup']" class="nav-link active" aria-current="page" href="#">Sign Up</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/auth/signin']" class="nav-link active" aria-current="page" href="#">Sign In</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/dashboard/graph']" class="nav-link active" aria-current="page" href="#">Dashboard</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</nav>
<!-- Navigation End -->


<!-- Vertical Navigation -->
<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">Vertical Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> 
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto flex-column vertical-nav">
            <li class="nav-item">
                <a [routerLink]="['/dashboard/graph']" class="nav-link" href="#">Graphical Analytics</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/dashboard/topic-competition']" class="nav-link" href="#">Topic Competition</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/dashboard/get-tabledata']" class="nav-link" href="#">TableData</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/dashboard/download-bots']" class="nav-link" href="#">Download Bots</a>
            </li>
        </ul>
    </div>
</nav>
<!-- Vertical Navigation Ends -->

<router-outlet></router-outlet>